body {
    font-style: josefin sans;
}

li {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    text-emphasis: none;
}

#new-high-score {
    text-align: center;
}    

.quiz-choice-button {
    background-color: black;
    color: white;
    border-color: black;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}

.quiz-choice-button:hover {
    background-color: white;
    color: black;
}

#quiz-highscore-button {
    background-color: black;
    color: white;
    border-color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}
#quiz-highscore-button:hover {
    background-color: white;
    color: black;
}

#close-modal {
    background-color: black;
    color: white;
    border-color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}
#close-modal:hover {
    background-color: white;
    color: black;
}