body {
    font-style: josefin sans;
}

li {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    text-emphasis: none;
}

.table-of-contents-link {
    text-align: center;
}

.table-of-contents-link a {
    text-decoration: none;
    color: black;
}
.table-of-contents-link a:hover {
    font-weight: 600;
}

.form-label {}

.username-input {}

.password-input {}

.username-input::placeholder {
    font-family: jokerman;
}

.password-input::placeholder {
    font-family: jokerman;
}

#new-high-score {
    text-align: center;
}    

.quiz-choice-button {
    background-color: black;
    color: white;
    border-color: black;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}

.quiz-choice-button:hover {
    background-color: white;
    color: black;
}

#quiz-highscore-button {
    background-color: black;
    color: white;
    border-color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}
#quiz-highscore-button:hover {
    background-color: white;
    color: black;
}

#close-modal {
    background-color: black;
    color: white;
    border-color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}
#close-modal:hover {
    background-color: white;
    color: black;
}