* {
    font-family: josefin sans, sans-serif;
    background-color: #3C3B6E;
    color: white;
    font-weight: 400;
}

li {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    text-emphasis: none;
}

.record {
    background-color: white;
    color: #3c3b6e;
}

.table-of-contents-link {
    text-align: center;
}

.table-of-contents-link a {
    text-decoration: none;
    color: white;
}
.table-of-contents-link a:hover {
    font-weight: 600;
}

.form-label {}

.username-input {
    border-style: solid;
    border-color: white;
    background-color: #3c3b6e;
    color: white;
    box-sizing: auto;
    padding: .15rem;
}

.username-input:active {
    border-color: white;
}

.password-input {
    border-style: solid;
    background-color: #3c3b6e;
    color: white;
    border-color: white;
    box-sizing: auto;
    padding: .15rem;
}

.username-input::placeholder {
    font-family: josefin sans, sans-serif;
    color: white;
}

.password-input::placeholder {
    font-family: josefin sans, sans-serif;
    color: white;
}

.authorization-form-switch {
    font-size: .9rem;
    line-height: 1.5rem;
}

.authorization-form-switch:hover {
    font-weight: 600;
    text-emphasis: none;
}

#new-high-score {
    text-align: center;
}    

.quiz-choice-button {
    background-color: #3C3B6E;
    color: white;
    border-color: white;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.5rem;
}

.quiz-choice-button:hover {
    font-weight: 600;
    background-color: #B22234;
}

.quiz-choice-button:focus {
    font-weight: 600;
    background-color: #B22234;
}

#quiz-highscore-button {
    background-color: #3C3B6E;
    color: white;
    border-color: white;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.5rem;
}
#quiz-highscore-button:hover {
    font-weight: 600;
    background-color: #B22234;
}

#quiz-highscore-button:focus {
    font-weight: 600;
    background-color: #B22234;
}

#close-modal {
    background-color: #3C3B6E;
    color: white;
    border-color: #3C3B6E;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.5rem;
}
#close-modal:hover {
    font-weight: 600;
    background-color: #B22234;
}

#close-modal:focus {
    font-weight: 600;
    background-color: #B22234;
}

.submit-button {
    background-color: #3C3B6E;
    color: white;
    border-color: white;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.5rem;
}
.submit-button:hover {
    font-weight: 600;
    background-color: #B22234;
}

.submit-button:focus {
    font-weight: 600;
    background-color: #B22234;
}

.highest-score {
    text-align: center;
}

.current-attempt {
    text-align: center;
}