.modal-header {
    background-color: white;
    color: #3C3B6E;
    font-family: josefin sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.15rem;
    line-height: 1.40rem;
    text-align: center;
}